<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Статья не найдена!</title>
</head>
<body>
    <%- include("blocks/header"); %>
    <link rel="stylesheet" href="/styles/article_not_found.css">
    <div class="blocks">
        <div class="block dark-block topics-block mt-5 p-3">
            <div class="topics-ul">
                <h3>Статья не найдена!</h3>
                <ul class="main-ul" style="list-style-type: none; padding-left: 0;">
                    <li class="p-3">Данной статьи не существует!</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>