.blocks {
    display: grid;
    grid-gap: 70px;
    grid-template-columns: 4fr 2fr;
} .main-block {
    margin-right: auto;
    margin-left: 50px;
    width: 100%;
} .topics-block {
    margin-left: auto;
    width: 100%;
} .main-content {
    border-radius: 5px;
} .topics-ul {
    margin-left: auto;
} .topic-link {
    display: grid;
    grid-template-columns: 3fr 2fr;
}